extends ./layout/index

block contenido
    main.container.mt-5     
        .row    
            .col-md-5 
                img(src="img/nosotros.jpg", alt="nosotros", class="img-fluid")
            .col-md-7
            h1 #{pagina}
            blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, aspernatur voluptatum possimus repudiandae soluta repellendus aliquid deserunt necessitatibus? Est, doloremque maxime. Perferendis nesciunt aliquam totam dolore vero odio dignissimos ea?
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, aliquam quibusdam illum magni totam nisi atque nemo aut sequi, repellat perspiciatis maiores tempora, quidem dolorem voluptatum quae modi minima cupiditate!
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla exercitationem dignissimos officiis voluptatum dolor quo error tempore deserunt, quisquam pariatur, non rerum, laudantium aperiam eius vitae ullam ut veniam rem!

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia ab ullam nihil explicabo autem saepe cumque. Amet saepe, vero, eius aliquid vitae tempore reiciendis dolorum soluta, maiores distinctio iusto nam!

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia ab ullam nihil explicabo autem saepe cumque. Amet saepe, vero, eius aliquid vitae tempore reiciendis dolorum soluta, maiores distinctio iusto nam!

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia ab ullam nihil explicabo autem saepe cumque. Amet saepe, vero, eius aliquid vitae tempore reiciendis dolorum soluta, maiores distinctio iusto nam!